.btn {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 15px; /* Default padding */
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--primary-hover);
}

/* Form Styles */
#general-settings-form,
#appearance-settings-form,
#add-new-source-form,
#add-exchange-form,
#add-holder-form,
#add-webapp-form,
#log-strategy-form,
#edit-source-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#general-settings-form label,
#appearance-settings-form label,
#add-new-source-form label,
#add-exchange-form label,
#add-holder-form label,
#log-strategy-form label,
#edit-source-form label {
  font-weight: bold;
  margin-bottom: -10px;
  color: var(--heading-color);
}

#general-settings-form input,
#appearance-settings-form select,
#add-new-source-form input,
#add-new-source-form select,
#add-new-source-form textarea,
#add-exchange-form input,
#add-holder-form input,
#log-strategy-form input,
#log-strategy-form select,
#log-strategy-form textarea,
#edit-source-form input,
#edit-source-form select,
#edit-source-form textarea {
  padding: 10px;
  border: 1px solid var(--container-border);
  background-color: var(--info-panel-bg);
  color: var(--text-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#appearance-settings-form select {
  width: 50%;
}

#add-new-source-form button,
#add-exchange-form button,
#add-holder-form button,
#add-webapp-form button {
  /* Inherit from .btn */
  align-self: flex-start;
}

.clear-btn {
  /* Inherit from .btn */
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-color);
}

.clear-btn:hover {
  background-color: var(--button-secondary-hover);
}
