.settings-tabs,
.settings-sub-tabs {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--container-border);
}

.settings-tabs button,
.settings-sub-tabs button {
  background-color: var(--info-panel-bg);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  border-bottom: 1px solid var(--container-border);
}

.settings-tabs button:hover,
.settings-sub-tabs button:hover {
  background-color: var(--container-bg);
}

.settings-tabs button.active,
.settings-sub-tabs button.active {
  background-color: var(--container-bg);
  color: var(--heading-color);
  border-bottom: 1px solid var(--container-bg);
}

/* Settings Panels */
.settings-panel,
.sub-panel {
  display: none; /* Hidden by default */
  padding: 15px 0;
  border-top: 1px solid var(--container-border);
}

.settings-panel.active,
.sub-panel.active {
  display: block; /* Show active panel */
}

.modal-footer {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid var(--container-border);
  text-align: right;
}

.modal-footer button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-footer button:hover {
  background-color: var(--primary-hover);
}

/* Form Styles */
#general-settings-form,
#appearance-settings-form,
#add-new-source-form,
#add-exchange-form,
#add-holder-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#general-settings-form label,
#appearance-settings-form label,
#add-new-source-form label,
#add-exchange-form label,
#add-holder-form label {
  font-weight: bold;
  margin-bottom: -10px;
  color: var(--heading-color);
}

#general-settings-form input,
#appearance-settings-form select,
#add-new-source-form input,
#add-new-source-form select,
#add-new-source-form textarea,
#add-exchange-form input,
#add-holder-form input {
  padding: 10px;
  border: 1px solid var(--container-border);
  background-color: var(--info-panel-bg);
  color: var(--text-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#appearance-settings-form select {
  width: 50%;
}

#add-new-source-form button,
#add-exchange-form button,
#add-holder-form button {
  padding: 10px 15px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

#add-new-source-form button:hover,
#add-exchange-form button:hover,
#add-holder-form button:hover {
  background-color: var(--primary-hover);
}
